<h1><%= @movie.title %> </h1>
<%= @movie.description %>

<div>
  <p>Average Rating: <%= @movie.average_rating.to_s %></p>
</div>
<% if user_signed_in? %>
  <%= javascript_include_tag 'movie-db' %>
  <div id='ember-rails-app'>
  </div>
  <script>
    window.movie_rating = {
      id: '<%= @rating.id %>',
      movie_id: '<%= @movie.id %>'
    };
  </script>
<% end %>
