<div class="container">
  <p>Rate Movie:</p>
  <p>Your rating: {{ rating.score }}</p>

  <input type="radio" name='score_1' value="1" checked={{ star_1 }}/>
  <input type="radio" name='score_2' value="2" checked={{ star_2 }}/>
  <input type="radio" name='score_3' value="3" checked={{ star_3 }}/>
  <input type="radio" name='score_4' value="4" checked={{ star_4 }}/>
  <input type="radio" name='score_5' value="5" checked={{ star_5 }}/>

</div>
